In [49]:
import pymongo
import pandas as pd
from sqlalchemy import create_engine
import json

In [50]:
credentials = {}
with open('credentials.json') as f:
    cred = json.load(f)
    credentials['username'] = cred['postgresql']['username']
    credentials['password'] = cred['postgresql']['password']
engine = create_engine('postgresql+psycopg2://{}:{}@104.199.52.163:5432/opendata'.format(credentials['username'], credentials['password']))

In [3]:
client = pymongo.MongoClient('mongodb+srv://angers:sregna@clusterangers-7bjup.gcp.mongodb.net/test?retryWrites=true')

In [4]:
client.list_database_names()

['Traffic', 'admin', 'local']

In [5]:
db = client['Traffic']
db.list_collection_names()

['busTraffic', 'parkingTraffic']

### Parking

In [6]:
db['parkingTraffic'].estimated_document_count()

763

In [7]:
records = []
for x in db['parkingTraffic'].find():
    for record in x['records']:
        f = record['fields']
        f['record_timestamp'] = record['record_timestamp']
        records.append(f)

pt = pd.DataFrame(records)
print(pt.shape)
pt.head()

(7630, 3)

   disponible                nom           record_timestamp
0          97         Republique  2019-04-12T15:17:00+00:00
1          19          Bressigny  2019-04-12T15:17:00+00:00
2          47  Mitterrand Rennes  2019-04-12T15:17:00+00:00
3         311       Saint Laud 2  2019-04-12T15:17:00+00:00
4          20         Ralliement  2019-04-12T15:17:00+00:00

In [8]:
pt.columns = ['Disponible','Nom','Date']
pt['Date'] = pd.to_datetime(pt['Date'])
pt.head()

   Disponible                Nom                Date
0          97         Republique 2019-04-12 15:17:00
1          19          Bressigny 2019-04-12 15:17:00
2          47  Mitterrand Rennes 2019-04-12 15:17:00
3         311       Saint Laud 2 2019-04-12 15:17:00
4          20         Ralliement 2019-04-12 15:17:00

In [9]:
pt.dtypes

Disponible             int64
Nom                   object
Date          datetime64[ns]
dtype: object

To the postgres database

In [13]:
pt.to_sql('parking', engine, index=False, if_exists='replace')

#### Coordinates

In [10]:
parking_csv = pd.read_csv('data/pv_equip_parking.csv', sep=';')
print(parking_csv.shape)
parking_csv.head()

(18, 22)

,NOM,EXPLOITANT,ADR_NUM,ADR_LIBVOI,NOM_COMMUNE,ID_EQUIP,ID_PARKING,Geo Shape,Geo Point,MOYENS_ACCES,...,NB_PLACES,NB_VELO_SECUR,NB_PLACES_PMR,ACCESSIBILITE,HORAIRES_OUVERTURE,HORAIRES_FERMETURE,FERMETURE_EXCEPTION,HORAIRES_EXCEPTION,THEME,SOUS_THEME
0,Parking Berges de Maine,ALTER,26,ALLÉE FRANÇOIS MITTERRAND,ANGERS,2524,Berges De Maine,"{""type"": ""Point"", ""coordinates"": [-0.549642004...","47.4791055266, -0.549642004596",AVENUE DES DROITS DE L'HOMME,...,305.0,0.0,7.0,24-24,07:00,00:00,NaN,NaN,TRANSPORT,PARKING
1,Parking Larrey,ALTER,26,ALLÉE FRANÇOIS MITTERRAND,ANGERS,7550,Larrey,"{""type"": ""Point"", ""coordinates"": [-0.554951239...","47.4806370511, -0.554951239998",RUE LARREY,...,28.0,0.0,2.0,24-24,NaN,NaN,NaN,NaN,TRANSPORT,PARKING
2,Parking Molière,ALTER,37,RUE THIERS,ANGERS,2089,Moliere,"{""type"": ""Point"", ""coordinates"": [-0.554276891...","47.4746632156, -0.554276891798",RUE THIERS,...,416.0,38.0,9.0,24-24,07:00,20:00,NaN,NaN,TRANSPORT,PARKING
3,Parking Poissonnerie,ALTER,7,RUE PLANTAGENÊT,ANGERS,2574,Poissonnerie,"{""type"": ""Point"", ""coordinates"": [-0.555937486...","47.4732815436, -0.555937486434",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSPORT,PARKING
4,Parking Leclerc,ALTER,14,BOULEVARD BESSONNEAU,ANGERS,2275,Leclerc,"{""type"": ""Point"", ""coordinates"": [-0.546056082...","47.47144192, -0.54605608257",PLACE LECLERC / PALAIS DE JUSTICE,...,235.0,0.0,4.0,24-24,NaN,NaN,SAM 00:00-17:00,NaN,TRANSPORT,PARKING

In [11]:
parking_csv.columns

Index(['NOM', 'EXPLOITANT', 'ADR_NUM', 'ADR_LIBVOI', 'NOM_COMMUNE', 'ID_EQUIP',
       'ID_PARKING', 'Geo Shape', 'Geo Point', 'MOYENS_ACCES', 'GPL',
       'HAUTEUR_MAX', 'NB_PLACES', 'NB_VELO_SECUR', 'NB_PLACES_PMR',
       'ACCESSIBILITE', 'HORAIRES_OUVERTURE', 'HORAIRES_FERMETURE',
       'FERMETURE_EXCEPTION', 'HORAIRES_EXCEPTION', 'THEME', 'SOUS_THEME'],
      dtype='object')

In [12]:
parking = parking_csv[['ID_PARKING','Geo Point','NB_PLACES']]
parking.columns = ['parking','geo_point','places']
parking

              parking                       geo_point  places
0     Berges De Maine  47.4791055266, -0.549642004596   305.0
1              Larrey  47.4806370511, -0.554951239998    28.0
2             Moliere  47.4746632156, -0.554276891798   416.0
3        Poissonnerie  47.4732815436, -0.555937486434     NaN
4             Leclerc     47.47144192, -0.54605608257   235.0
5   Mitterrand Rennes   47.476608392, -0.550574131243   133.0
6    Mitterrand Maine  47.4772420234, -0.552025911935   151.0
7          Saint Laud  47.4644889197, -0.558943020692   450.0
8             Marengo  47.4648842682, -0.554823179984   305.0
9        Haras Public  47.4648996364, -0.553765416644   112.0
10       Saint Laud 2  47.4640438606, -0.560504672316   576.0
11          Maternite  47.4814546969, -0.554413623853    56.0
12        Confluences  47.4806753779, -0.554545651222    30.0
13          Bressigny   47.4673424818, -0.54934224087   172.0
14               Mail  47.4712547046, -0.544924904001   960.0
15         Ralliement  47.4712242886, -0.551806483237   432.0
16               Quai   47.472633062, -0.565068160204   180.0
17         Republique  47.4725623676, -0.554958380401   383.0

In [14]:
latlon = parking['geo_point'].str.split(',', expand=True)
parking['latitude'] = pd.to_numeric(latlon[0])
parking['longitude'] = pd.to_numeric(latlon[1])
parking

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,parking,geo_point,places,latitude,longitude
0,Berges De Maine,"47.4791055266, -0.549642004596",305.0,47.479106,-0.549642
1,Larrey,"47.4806370511, -0.554951239998",28.0,47.480637,-0.554951
2,Moliere,"47.4746632156, -0.554276891798",416.0,47.474663,-0.554277
3,Poissonnerie,"47.4732815436, -0.555937486434",NaN,47.473282,-0.555937
4,Leclerc,"47.47144192, -0.54605608257",235.0,47.471442,-0.546056
5,Mitterrand Rennes,"47.476608392, -0.550574131243",133.0,47.476608,-0.550574
6,Mitterrand Maine,"47.4772420234, -0.552025911935",151.0,47.477242,-0.552026
7,Saint Laud,"47.4644889197, -0.558943020692",450.0,47.464489,-0.558943
8,Marengo,"47.4648842682, -0.554823179984",305.0,47.464884,-0.554823
9,Haras Public,"47.4648996364, -0.553765416644",112.0,47.464900,-0.553765
10,Saint Laud 2,"47.4640438606, -0.560504672316",576.0,47.464044,-0.560505
11,Maternite,"47.4814546969, -0.554413623853",56.0,47.481455,-0.554414
12,Confluences,"47.4806753779, -0.554545651222",30.0,47.480675,-0.554546
13,Bressigny,"47.4673424818, -0.54934224087",172.0,47.467342,-0.549342
14,Mail,"47.4712547046, -0.544924904001",960.0,47.471255,-0.544925
15,Ralliement,"47.4712242886, -0.551806483237",432.0,47.471224,-0.551806
16,Quai,"47.472633062, -0.565068160204",180.0,47.472633,-0.565068
17,Republique,"47.4725623676, -0.554958380401",383.0,47.472562,-0.554958

In [15]:
parking.dtypes

parking       object
geo_point     object
places       float64
latitude     float64
longitude    float64
dtype: object

To the postgres database

In [18]:
parking.to_sql('parking_list', engine, index=False, if_exists='replace')

In [19]:
parking_full = pt.merge(parking, left_on='Nom', right_on='parking')
parking_full.drop('parking', axis=1, inplace=True)
parking_full.columns = ['disponible','nom','date','geo_point','max_places','latitude','longitude']
print(parking_full.shape)
parking_full.head()

(7630, 7)

,disponible,nom,date,geo_point,max_places,latitude,longitude
0,97,Republique,2019-04-12 15:17:00,"47.4725623676, -0.554958380401",383.0,47.472562,-0.554958
1,103,Republique,2019-04-12 15:24:00,"47.4725623676, -0.554958380401",383.0,47.472562,-0.554958
2,109,Republique,2019-04-12 15:28:00,"47.4725623676, -0.554958380401",383.0,47.472562,-0.554958
3,105,Republique,2019-04-12 15:33:00,"47.4725623676, -0.554958380401",383.0,47.472562,-0.554958
4,120,Republique,2019-04-12 15:48:00,"47.4725623676, -0.554958380401",383.0,47.472562,-0.554958

To the postgres database

In [21]:
parking_full.to_sql('parking_full', engine, index=False, if_exists='replace')

### Bus

In [23]:
db['busTraffic'].estimated_document_count()

777

In [25]:
records = []
for x in db['busTraffic'].find():
    for record in x['records']:
        f = record['fields']
        f['record_timestamp'] = record['record_timestamp']
        records.append(f)

bt = pd.DataFrame(records)
print(bt.shape)
bt.head()

(5396, 22)

,cap,coordonnees,dest,ecart,etat,harret,idarret,iddesserte,idligne,idparcours,...,mnemoligne,nomarret,nomligne,novh,numarret,record_timestamp,sv,type,x,y
0,243,"[47.485893, -0.51255723]",TRELAZE QUANTINIERE,0,TDEP,2019-04-12T15:20:00+00:00,1214154,268611585,268435458,268611584.0,...,02,BANCHAIS,ST SYLVAIN BANCHAIS <>TRELAZE,201,20610,2019-04-12T15:01:17+00:00,0202,GX 427 Hyb,385339,2280145
1,337,"[47.465045, -0.55945135]",ST MARTIN DU F,0,HLPS,2019-04-12T15:30:00+00:00,1215437,270807297,268435492,270807296.0,...,36,GARES SEMARD SUB,ST MARTIN St JEAN <> GARE,3274,21525,2019-04-12T15:13:55+00:00,3611,MAN STARTE,381722,2277958
2,95,"[47.471121, -0.53121436]",ZI EST,143,LIGN,2019-04-12T15:15:18+00:00,1214308,268840755,268435462,268840704.0,...,06,FRATELLINI,BOUCHEMAINE <> Z I EST,423,23398,2019-04-12T15:15:17+00:00,0608,OMNICITY,383874,2278555
3,232,"[47.468818, -0.55832905]",SAINTE GEMMES,713,LIGN,2019-04-12T15:16:14+00:00,1215795,269200411,268435467,269200384.0,...,11,ACADEMIE,LAC MAINE <> STE GEMMES CL ANJOU,443,913399,2019-04-12T15:15:17+00:00,1103,OMNICITY,381822,2278374
4,233,"[47.465946, -0.59877727]",LAC DE MAINE - L'HOIRIE,338,LIGN,2019-04-12T15:15:06+00:00,1214646,269168923,268435467,269168896.0,...,11,LES DENIERS,LAC MAINE <> STE GEMMES CL ANJOU,449,6046,2019-04-12T15:15:17+00:00,1125,OMNICITY,378763,2278168

In [53]:
bus = bt[['coordonnees','dest','ecart','harret','mnemoarret','mnemoligne','nomarret','nomligne','record_timestamp']].copy()
bus.columns = ['coordonnees','destination','ecart_horaire','heure_estimee_arret','mnemo_arret','mnemo_ligne','nom_arret','nom_ligne','date']
bus['heure_estimee_arret'] = pd.to_datetime(bus['heure_estimee_arret'])
bus['date'] = pd.to_datetime(bus['date'])
bus.head()

,coordonnees,destination,ecart_horaire,heure_estimee_arret,mnemo_arret,mnemo_ligne,nom_arret,nom_ligne,date
0,"[47.485893, -0.51255723]",TRELAZE QUANTINIERE,0,2019-04-12 15:20:00,BANCSTMA,02,BANCHAIS,ST SYLVAIN BANCHAIS <>TRELAZE,2019-04-12 15:01:17
1,"[47.465045, -0.55945135]",ST MARTIN DU F,0,2019-04-12 15:30:00,GARESEMA,36,GARES SEMARD SUB,ST MARTIN St JEAN <> GARE,2019-04-12 15:13:55
2,"[47.471121, -0.53121436]",ZI EST,143,2019-04-12 15:15:18,CIEST.-E,06,FRATELLINI,BOUCHEMAINE <> Z I EST,2019-04-12 15:15:17
3,"[47.468818, -0.55832905]",SAINTE GEMMES,713,2019-04-12 15:16:14,ACADEMIE,11,ACADEMIE,LAC MAINE <> STE GEMMES CL ANJOU,2019-04-12 15:15:17
4,"[47.465946, -0.59877727]",LAC DE MAINE - L'HOIRIE,338,2019-04-12 15:15:06,LEDENIER,11,LES DENIERS,LAC MAINE <> STE GEMMES CL ANJOU,2019-04-12 15:15:17

In [54]:
bus['latitude'] = bt['coordonnees'].str[0]
bus['longitude'] = bt['coordonnees'].str[1]
bus.head()

,coordonnees,destination,ecart_horaire,heure_estimee_arret,mnemo_arret,mnemo_ligne,nom_arret,nom_ligne,date,latitude,longitude
0,"[47.485893, -0.51255723]",TRELAZE QUANTINIERE,0,2019-04-12 15:20:00,BANCSTMA,02,BANCHAIS,ST SYLVAIN BANCHAIS <>TRELAZE,2019-04-12 15:01:17,47.485893,-0.512557
1,"[47.465045, -0.55945135]",ST MARTIN DU F,0,2019-04-12 15:30:00,GARESEMA,36,GARES SEMARD SUB,ST MARTIN St JEAN <> GARE,2019-04-12 15:13:55,47.465045,-0.559451
2,"[47.471121, -0.53121436]",ZI EST,143,2019-04-12 15:15:18,CIEST.-E,06,FRATELLINI,BOUCHEMAINE <> Z I EST,2019-04-12 15:15:17,47.471121,-0.531214
3,"[47.468818, -0.55832905]",SAINTE GEMMES,713,2019-04-12 15:16:14,ACADEMIE,11,ACADEMIE,LAC MAINE <> STE GEMMES CL ANJOU,2019-04-12 15:15:17,47.468818,-0.558329
4,"[47.465946, -0.59877727]",LAC DE MAINE - L'HOIRIE,338,2019-04-12 15:15:06,LEDENIER,11,LES DENIERS,LAC MAINE <> STE GEMMES CL ANJOU,2019-04-12 15:15:17,47.465946,-0.598777

In [55]:
bus.dtypes

coordonnees                    object
destination                    object
ecart_horaire                   int64
heure_estimee_arret    datetime64[ns]
mnemo_arret                    object
mnemo_ligne                    object
nom_arret                      object
nom_ligne                      object
date                   datetime64[ns]
latitude                      float64
longitude                     float64
dtype: object

To the postgres database

In [56]:
bus.to_sql('bus', engine, index=False, if_exists='replace')